<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agatka</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            background-color: #582d1c;
            color: #FFF;
            font-family: 'Roboto', sans-serif;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Random fox :o</h1>
    <img src="{{ url }}">
    <p>shoutout to Agatka</p>
</div>
</body>
</html>